<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">

<div class="text-left">
 <h2>User Info</h2>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <p>Name:<%= @user.name %></p>
    <p>Introduction: <%= @user.introduction %></p>
  <li class="nav-item　text-center">
     <% if user_signed_in? && current_user != @user %>
    <p><%= link_to "プロフィール編集", users_path(@user.id), class: "fas fa-user-cog" %></p>
    <% else %>
     <p><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "fas fa-user-cog" %></p>
     <% end %>
    </div>
</div>
</div>


<div class="col-md-8.offset-md-1">
<div class="text-left">
  <h2>New book</h2>
  <%= form_with model: @book, url: books_path(@book) do |f| %>
      <p>Title</p>
      <%= f.text_field :title, name: 'book[title]' %>
    <p>Opinion</p>
      <%= f.text_area :body, name: 'book[body]' %>
    <%= f.submit 'Create Book' %>
     <% end %>
  </div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">

<div class="text-right">
  <h2>Books detail</h2>
<% @books.each do |book| %>

  <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <div>
      <th><%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(@user) %></th>
      <th><%= link_to book.title, book_path(book) %></th>
      <th><%= book.body %></th>
      <th colspan="3"></th>
      </div>
    </tr>

</table>
    </div>
<% end %>
</div>
 <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>



<%= render 'books/list', books: @books %>