<div class="text-left">
 <h2>User Info</h2>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <p>Name:<%= @user.name %></p>
    <p>Introduction: <%= @user.introduction %></p>
  <li class="nav-item　text-center">
     <% if user_signed_in? && current_user != @user %>
    <p><%= link_to "プロフィール編集", users_path(@user.id), class: "fas fa-user-cog" %></p>
    <% else %>
     <p><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "fas fa-user-cog" %></p>
     <% end %>
    </div>